.Modal {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  width: auto;
  max-width: 70rem;
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.Modal::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) and (min-width: 600px) {
  .Modal {
    width: 85%;
  }
}
@media (max-width: 600px) {
  .Modal {
    width: 95%;
  }
}

@media (max-height: 600px) {
  .Modal {
    max-height: 500px;
  }
}
