.Backdrop {
  background-color: rgba(0,0,0,8%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  display: none;
  backdrop-filter: blur(2px);
}

.Backdrop {
  display: block;
}
